<h2 style="text-align:center;">Angular Routing Example</h2>

<div class="container1">
<a [routerLink] = "['/studentLink']" >Student Information</a> <br/>
<a [routerLink] = "['/studentdetailsLink']" >student details</a>

<div>
    <router-outlet></router-outlet>
</div>
</div>
    
<div class="container2">
    <div [ngStyle]="AddButtonCSSStyles()">Style the string with yellow color </div>
    <div [ngClass]="['one','two','four','five']"> NGClass string is getting modified by an array of classes</div>
  </div>

